# Dependencies
node_modules/

# Next.js
.next/
out/
. do-not-use-this-anymore-no-vercel-we-use-railway-now/
*.tsbuildinfo
tsconfig.tsbuildinfo

# Env
.env*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Mac
.DS_Store

# Coverage
coverage/

# Editor
.vscode/
.idea/

# Misc
*.local
*.swp

. do-not-use-this-anymore-no-vercel-we-use-railway-now
